.additional-goods {
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 87px;
}

.additional-goods__title {
  @include header-3;
  margin-bottom: 80px;
}

.additional-goods__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.additional-goods__list {
  width: 100%;
}

.additional-goods__banner {
  width: 245px;
  height: 100%;
  padding: 185px 42px 43px;
  background-color: $primary-color;
  text-align: center;
}

.additional-goods__banner-description {
  font-family: $alternate-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
