.button {
  display: inline-block;
  padding: 14px 26px;
  background-color: $primary-color;
  color: #ffffff;
  text-decoration: none;
  font-family: $primary-font;
  text-transform: uppercase;
  text-align: center;
}

.button--secondary {
  background-color: $secondary-color;
  color: #444444;
}
