.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  color: #ffffff;
  text-decoration: none;
  font-family: $primary-font;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition:
    background-color 250ms,
    color 250ms;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--secondary {
  background-color: #f2f2f2;
  color: #444444;

  &:hover,
  &:focus,
  &:active {
    background-color: #ebebeb;
    color: #444444;
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 16px;
    line-height: 20px;
  }
}
