.footer {
  background-color: $secondary-color;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 20px;
}

.footer__social-list {
  @include reset-list;
  display: flex;
  gap: 24px;
}

.footer__html-academy-logo {
  font-family: $alternate-font;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    padding: 62px 30px 55px;
    flex-direction: row;
    min-height: 147px;
  }

  .footer__html-academy-logo {
    justify-content: center;
    align-items: center;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding: 73px 110px 66px;
  }
}
