.form__section {
  @include mp0;
  border: none;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin: 0 auto 26px;
  flex-direction: column;
  position: relative;
}

.form__section--without-container {
  padding: 0 20px;
}

.form__fields-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.form__fields-group:first-of-type {
  margin-bottom: 46px;
}

.form__fields-group--with-borders {
  padding: 20px;
}

.form__radio-item {
  margin-bottom: 13px;
}

.form__fields-group--with-borders::before {
  content: "";
  width: 320px;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: -20px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  display: block;
}

.form__field {
  display: flex;
  align-items: center;

  &--email,
  &--phone {
    background-repeat: no-repeat;
    background-position: right 18px center;
  }

  &--email {
    background-image: url("../../img/icons/envelope.svg");
    background-size: 17px 13px;
  }

  &--phone {
    background-image: url("../../img/icons/phone.svg");
    background-size: 15px;
  }
}

.form__field-name {
  font-family: $primary-font;
  color: #444444;
  text-transform: uppercase;
  margin-right: 12px;
  font-size: 16px;
  line-height: 18px;
}

.form__field-name::after {
  content: ":";
}

.form__field-name--required::after {
  content: ":*";
}

.form__field-input {
  border: 1px solid #e7e7e7;
  padding: 11px 20px;
  font-size: 16px;
  line-height: 18px;
  font-family: $primary-font;
  color: #444444;
  text-transform: uppercase;
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &--error {
    outline: 2px solid #ff8282;
  }
}

.form__field-input--textarea {
  width: 100%;
  line-height: 30px;
}

.form__radio-group {
  @include reset-list;
  padding: 22px 20px;
  display: flex;
  gap: 13px;
  justify-content: center;
  flex-direction: column;
}

.form__radio-label {
  font-family: $primary-font;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 45px;
  width: 100%;
  display: block;
}

.form__radio-input {
  position: relative;
  cursor: pointer;
}

.form__custom-radio {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  position: absolute;
  border-radius: 50%;
  top: -7px;
  cursor: pointer;
  transition: border 250ms;
}

.form__radio-input input:checked ~ .form__custom-radio::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #68b738;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.form__section--with-line::before {
  content: "";
  height: 2px;
  width: 50%;
  left: 50%;
  background-color: #68b738;
  position: absolute;
  top: 14px;
  z-index: -1;
}

.form__section-name {
  font-size: 24px;
  line-height: 26px;
  font-family: $primary-font;
  margin-bottom: 35px;
  text-wrap: wrap;
  position: relative;
  width: fit-content;
  background-color: #ffffff;
  border-right: 20px solid #ffffff;
  z-index: 2;
}

.form__submit-group {
  display: flex;
  flex-direction: column;
}

.form__submit-button {
  margin-bottom: 21px;
}

.form__footnote {
  margin: 0 auto;
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 16px;
}

.form__checkboxes-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.form__actual-radio:disabled ~ .form__custom-radio,
.form__actual-radio:disabled ~ .form__custom-radio::after,
.form__actual-radio:disabled ~ .form__radio-label {
  opacity: 0.3;
}

.form__radio-input:hover .form__custom-radio {
  border: 1px solid #bababa;
}

@media (min-width: $tablet-width) {
  .form__field-name {
    font-size: 20px;
  }

  .form__field-input {
    font-size: 20px;
  }

  .form__fields-group:first-of-type {
    margin-bottom: 72px;
  }

  .form__fields-group--with-borders::before {
    display: none;
  }

  .form__fields-group--with-borders {
    border: 1px solid #e7e7e7;
    padding: 23px 27px 27px;
  }

  .form__section {
    margin-bottom: 65px;
  }

  .form__section-name {
    font-size: 36px;
    line-height: 36px;
    border-right: 40px solid #ffffff;
    border-left: 40px solid #ffffff;
    margin: 0 0 76px -40px;
  }

  .form__section-name br {
    display: none;
  }

  .form__section--with-line::before {
    width: 100%;
    left: 0;
    top: 18px;
  }

  .form__radio-label {
    font-size: 20px;
  }

  .form__checkboxes-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 32px;
    justify-content: space-between;
  }

  .form__submit-group {
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  .form__submit-button {
    flex-grow: 1;
    height: 54px;
  }

  .form__footnote {
    margin: 0 60px 0 110px;
  }
}

@media (min-width: $desktop-width) {
  .form__section-name {
    margin-bottom: 78px;
  }

  .form__fields-group--near {
    flex-direction: row;
    width: 100%;
    gap: 81px;
  }

  .form__fields-group--near .form__field {
    width: 50%;
  }

  .form__fields-group--with-borders {
    padding: 36px 40px 35px 39px;
  }

  .form__section--two-cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form__section--two-cols .form__fields-group {
    width: 570px;
  }

  .form__fields-group {
    gap: 27px;
  }

  .form__fields-group:first-of-type {
    margin-bottom: 0;
  }

  .form__radio-group {
    padding: 0;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
  }

  .form__submit-group {
    justify-content: flex-start;
  }

  .form__submit-button {
    width: 570px;
  }

  .form__footnote {
    margin-left: 80px;
    font-size: 16px;
  }
}
