.main-header {
  display: flex;
  min-height: 65px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 320px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-header {
    width: 704px;
    margin: 25px auto;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    margin: 55px auto;
    width: 1220px;
  }
}
