.main-menu__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.main-menu__items--hidden {
  display: none;
}

.main-menu__item a {
  text-decoration: none;
  color: #000000;
  position: relative;
}

.main-menu__item--active a::after {
  content: "";
  height: 2px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: $primary-color;
}

@media (min-width: $tablet-width) {
  .main-menu {
    margin-left: auto;
  }

  .main-menu__toggle-menu {
    display: none;
  }

  .main-menu__items {
    max-width: 438px;
    display: flex;
    gap: 33px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .main-menu__items {
    font-size: 20px;
    line-height: auto;
    max-width: 680px;
  }

  .main-menu__items--alternate a {
    color: #ffffff;
  }

  .main-menu__items--alternate .main-menu__item--active a::after {
    background-color: #ffffff;
  }
}
