.main-header {
  display: flex;
  min-height: 65px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 320px;
  padding: 13px 20px 15px;
}

.main-header__logo {
  display: flex;
  align-items: center;
  gap: 13px;
  transition: opacity 250ms;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: calc($tablet-width - 1px)) {
  .main-header--no-js {
    flex-direction: column;
    padding: 20px 0 0 0;
  }

  .main-header--no-js .main-menu__toggle-menu {
    display: none;
  }

  .main-header--no-js .main-menu__items {
    position: relative;
    width: 320px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
  }

  .main-header--no-js .main-header__logo {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    width: 704px;
    margin: 25px auto;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    margin: 55px auto;
    width: 1220px;
  }
}
