.main-header {
  display: flex;
  min-height: 65px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 320px;
  padding: 13px 20px 15px;
}

.main-header__logo {
  display: flex;
  align-items: center;
  gap: 13px;
  transition: opacity 250ms;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    width: 704px;
    margin: 25px auto;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    margin: 55px auto;
    width: 1220px;
  }
}
