.map {
  padding: 0;
}

.map__text {
  padding: 26px 20px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.map__text--alternate-bg {
  background-color: #f2f2f2;
}

.map__title {
  @include mp0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.map__address {
  @include mp0;
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  width: 140px;
  display: inline-block;
}

.map__actual-map {
  background-color: #9d7da7;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .map__text {
    padding: 60px 70px;
    display: flex;
    justify-content: space-between;
  }

  .map__title {
    font-size: 20px;
    line-height: 26px;
    width: 170px;
  }

  .map__address {
    font-size: 16px;
    text-align: right;
    flex-grow: 1;
    max-width: 160px;
  }

  .map__city {
    display: inline-block;
    margin-top: 20px;
  }

  .map__actual-map {
    height: 400px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
    height: 400px;
  }

  .map__text {
    width: 565px;
    padding: 60px 80px;
    position: absolute;
    z-index: 1;
    top: 135px;
    left: 110px;
  }

  .map__actual-map {
    position: absolute;
  }
}
